<!DOCTYPE html>
<html ng-app="ngFileUploadApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Webuploader</title>
    <link rel="stylesheet" href="../../../assets/global/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../../ynassets/admin/lib/webuploader/webuploader.css">
</head>
<body ng-controller="ngFileUploadController">

    <div class="container">
        <yn-file-uploader uploader-attrs="uploaderAttrs"></yn-file-uploader>
    </div>

    <script src="../../../ynassets/admin/lib/jquery/jquery-2.1.1.js"></script>
    <script src="../../../ynassets/admin/lib/webuploader/webuploader.js"></script>
    <script src="../../../ynassets/admin/lib/angularjs/angular.js"></script>
    <script src="../../../ynassets/admin/lib/ui-bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
    <script src="../../../yineng/common/js/ynUtils.js" type="text/javascript"></script>
    <script src="../../../yineng/components/4-ynModal/js/ynModal.js" type="text/javascript"></script>
    <script src="../../js/ynedut8App.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ynFileUploader.js"></script>

</body>
</html>