<!DOCTYPE html>
<html ng-app="ynDataGridMiniApp">
<head>
	<meta charset="UTF-8">
	<title>mini版本的ynDataGrid</title>
	<link href="../../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"/>
    <link href="../../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet"/>
    <link href="../../../assets/global/css/components.css" rel="stylesheet"/>
    <link href="../../../assets/global/css/plugins.css" rel="stylesheet"/>
    <link href="../../../assets/admin/layout/css/layout.css" rel="stylesheet"/>
    <link href="../../../ynassets/admin/layout/css/ynstyle.css" rel="stylesheet"/>
    <link href="../../../ynassets/admin/lib/webuploader/webuploader.css" rel="stylesheet"/>
    <link href="../../../ynassets/admin/layout/css/themes/yngreen.css" rel="stylesheet"/>
    <link href="../../../ynassets/admin/layout/css/ztree/ynztree.css" rel="stylesheet"/>
</head>
<body ng-controller="ynDataGridMiniController">
	
	<div class="container">
		<yn-data-grid-mini grid-options="gridOptions"></yn-data-grid-mini>
	</div>

	<script src="../../../assets/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
	<script src="../../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../../../ynassets/admin/lib/underscore/underscore-min.js"></script>
	<script src="../../../ynassets/admin/layout/scripts/ynplugins.min.js" type="text/javascript"></script>
	<script src="../../../ynassets/admin/layout/scripts/yncomm.js" type="text/javascript"></script>
	<script src="../../../ynassets/admin/lib/angularjs/angular-1.3.0.min.js" type="text/javascript"></script>
	<script src="../../../ynassets/admin/lib/ui-bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
	<script src="../../../yineng/common/js/ynUtils.js" type="text/javascript"></script>
	<script src="../../../yineng/components/4-ynModal/js/ynModal.js" type="text/javascript"></script>
	<script src="js/context.js"></script>
	<script src="js/ynDataGridMini.js"></script>
	<script src="js/appMini.js"></script>
</body>
</html>