<div class="form-group">
    <label class="form-control-static">添加（修改）客户信息：</label>
    <button type="button" class="btn green" onclick="showDialog('../kehujibenxinxi/dialog/xuanzerenyuan.html','选择人员')">选择人员</button>
</div>
<div class="form-group">
    <label class="form-control-static">版本更新：</label>
    <button type="button" class="btn green" onclick="showDialog('../banbenxinxi/dialog/tianjiabanbenhao.html','添加版本号')">添加版本号</button>
    <button type="button" class="btn green" onclick="showDialog('../banbenxinxi/dialog/tianjiabanbenhao_two.html','添加版本号')">添加版本号</button>
    <button type="button" class="btn green" onclick="showDialog('../banbenxinxi/dialog/fabutishi.html','提示')">发布提示</button>
</div>
<div class="form-group">
    <label class="form-control-static">角色权限维护：</label>
    <button type="button" class="btn green" onclick="showDialog('../yonghuquanxian/dialog/tianjiajuese.html','添加（修改）角色')">添加（修改）角色</button>
    <button type="button" class="btn green" onclick="showDialog('../yonghuquanxian/dialog/xuanzejuese.html','选择角色')">选择角色</button>
</div>
<div class="form-group">
    <label class="form-control-static">添加（修改）部门：</label>
    <button type="button" class="btn green" onclick="showDialog('../jichuxinxiweihu/dialog/tianjiabumen.html','添加（修改）部门')">添加（修改）部门</button>
</div>
<div class="form-group">
    <label class="form-control-static">购买权限管理：</label>
    <button type="button" class="btn green" onclick="showDialog('../goumaiquanxianguanli/dialog/shouquanyonghushu.html','授权用户数')">授权用户数</button>
    <button type="button" class="btn green" onclick="showDialog('../goumaiquanxianguanli/dialog/shouquanchanpinbao.html','批量添加产品包')">授权产品包</button>
    <button type="button" class="btn green" onclick="showDialog('../goumaiquanxianguanli/dialog/shengchengshouquanma.html','生成授权码')">生成授权码</button>
    <button type="button" class="btn green" onclick="showDialog('../goumaiquanxianguanli/dialog/chakanshouquanma.html','查看授权码')">查看授权码</button>
    <button type="button" class="btn green" onclick="showDialog('../goumaiquanxianguanli/dialog/yanchangshiyongqi.html','延长使用期')">延长使用期</button>
    <button type="button" class="btn green" onclick="showDialog('../goumaiquanxianguanli/dialog/shezhichuli.html','设置处理/未处理')">设置处理/未处理</button>
    <button type="button" class="btn green" onclick="showDialog('../goumaiquanxianguanli/dialog/beizhu.html','备注')">备注</button>
</div>
<div class="form-group">
    <label class="form-control-static">设置常见问题所属菜单</label>
    <button type="button" class="btn green" onclick="showDialog('../bangzhuzhongxin/dialog/changjianwenticaidan.html','设置常见问题所属菜单')">设置常见问题所属菜单</button>
    <button type="button" class="btn green" onclick="showDialog('../bangzhuzhongxin/dialog/shenhebutongguo.html','审核不通过')">审核不通过</button>
</div>
<div class="form-group">
    <label class="form-control-static">短信运营管理</label>
    <button type="button" class="btn green" onclick="showDialog('../duanxinyunying/dialog/taocantianjia.html','套餐添加(修改)')">套餐添加（修改）</button>
    <button type="button" class="btn green" onclick="showDialog('../duanxinyunying/dialog/kehuchongzhi.html','客户充值')">客户充值</button>
</div>

